# Google Gmail API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Environment Variables & Security
python-dotenv

langchain-core
langgraph
langchain-groq
colorama
beautifulsoup4
fastapi
uvicorn
langserve
sse-starlette
pytest